*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    color: white;
}
/* .navbar a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
} */
.nav-links ul{
    list-style: none;
}
.nav-links ul li{
    display: inline-block;
    margin-right: 1rem;
}
.nav-links ul li a{
    color: #575757;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
     font-family: "Inter", sans-serif;
}
.nav-links ul li a:hover{
    color: #1D4ED8;
}
.btn{
    padding: 0.5rem 2rem;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.hero{
    background-image:   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
}
.hero-content h1{
    font-size: 48px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-top: 10rem;
}
.hero-content p{
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 1rem;
}
  .btn2{
    padding: 0.5rem 2rem;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30rem;

}
/* speaker part */

.speaker-heading{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
     font-family: "Inter", sans-serif;
}
.speaker-cards{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 25px;
    margin-top: 50px;

}

.cards{
    width: 100%;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #c5c3c3;
    display: grid;
    gap: 10px;
    padding-bottom: 20px;
}
.cards span{
    font-size: 18git px;
    font-weight: 400;
    color: #2563EB;
    font-family: "Inter", sans-serif;
    margin-left: 30px;
    margin-top: 10px;
}
.cards h2{
    font-size: 20px;
    font-weight: 700;
    color: #0D1B2A;
    font-family: "Inter", sans-serif;
    margin-left: 30px;
    
}
.cards p{
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    font-family: "Inter", sans-serif;
    margin-left: 30px;
    
}
.cards img{
    width: 100%;
    border-radius: 10px;
}

/* speaker part */



.secure{
    margin-top: 50px;
}
.secure-top{
    text-align: center;
    display: grid;
    gap:20px ;

}
.secure-top h2{
    font-size: 48px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #0D1B2A;
}
.secure-top p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #575757;
}
.secure-card{
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.secure-card-1{
    border: 2px solid #E5E7EB;
    padding:30px 40px ;
    border-radius: 12px;
}

.secure-card-1 hr{
     margin: 30px 0;
    border: none;
    border-top: 1px solid #E5E7EB;
}
.secure-card-2 hr{
     margin: 30px 0;
    border: none;
    border-top: 0.5px solid #E5E7EB;
}
.secure-card-3 hr{
     margin: 30px 0;
    border: none;
    border-top: 1px solid #E5E7EB;
}
.secure-card-1 h5{
    font-size: 13px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #888888;
}
.secure-card-2 h5{
    font-size: 13px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #93C5FD;
}
.secure-card-3 h5{
    font-size: 13px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #888888;
}
.secure-card-1 h2{
    font-size: 44px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #0D1B2A;
    line-height: 44px;
    padding-top: 10px;
}
.secure-card-2 h2{
    font-size: 44px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 44px;
    padding-top: 10px;
}
.secure-card-3 h2{
    font-size: 44px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #0D1B2A;
    line-height: 44px;
    padding-top: 10px;
}
.secure-card-1 h6{
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #888888;
    line-height: 44px;
    /* padding-top: 5px; */
    
}
.secure-card-2 h6{
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 44px;
    /* padding-top: 5px; */
    
}
.secure-card-3 h6{
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #888888;
    line-height: 44px;
    /* padding-top: 5px; */
    
}
.secure-card-1 p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #333333;
    line-height: 30px;
    padding-top: 10px;
    
}
.secure-card-2 p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 30px;
    padding-top: 10px;
    
}
.secure-card-3 p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #333333;
    line-height: 30px;
    padding-top: 10px;
    
}
.secure-card-1 button{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #2563EB;
    line-height: 21px;
    margin-top: 30px;
    padding: 10px  90px;
    /* border: none; */
    border-radius: 8px;
    border: 1px solid #2563EB;

    
}
.secure-card-2 button{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #fff;
    background-color: #2563EB;
    line-height: 21px;
    margin-top: 30px;
    padding: 10px  120px;
    /* border: none; */
    border-radius: 8px;
    border: 1px solid #2563EB;

    
}
.secure-card-3 button{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #2563EB;
    line-height: 21px;
    margin-top: 30px;
    padding: 10px  90px;
    /* border: none; */
    border-radius: 8px;
    border: 1px solid #2563EB;

    
}

.secure-card-2{
     border: 2px solid #E5E7EB;
    padding:30px 40px ;
    border-radius: 12px;
    background-color: #0D1B2A;
} 
.secure-card-3{
     border: 2px solid #E5E7EB;
    padding:30px 40px ;
    border-radius: 12px;
} 
 



.footer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 80px;
    background: #0D1B2A;
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links{
    display: flex;
    gap: 20px;
}

.social-links a{
    color: white;
    font-size: 22px;
    transition: .3s;
}

.social-links a:hover{
    color: #FD6E0A;
}

.footer hr{
    margin: 30px 0;
    border: none;
    border-top: 1px solid #444;
}

.copyright{
    text-align: center;
    color: #aaa;
    font-size: 15px;
}